@import './../../globalVars.module.scss';

.exchangePageWrapper {
  background-color: $main-background-color;
  color: white;
  padding-top: 70px;
  min-height: calc(100vh - 80px - 70px);

  h3 {
    margin-top: 0;
    font-size: 18px;
  }
}

.exchangeTitleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.exchangeTitle {
  margin: 0;
  font-size: 30px;
}

.exchangeCurrency{
  background-color: $main-blocks-color;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.exchangeFlexWrapper{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .unauthorizedBlock{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: $main-blocks-color;
    padding: 30px;
    border-radius: 10px;
  }
}

@media (max-width: 1024px) {
  .exchangeFlexWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .exchangeTitleWrapper {
    margin-bottom: 30px;
  }

  .exchangeTitle {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .exchangePageWrapper {
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  .exchangePageWrapper {
    h3 {
      font-size: 18px;
    }
  }

  .exchangeCurrency {
    padding: 20px;
  }
}