@import './../../globalVars.module.scss';

.exchangePageWrapper {
  background-color: $main-background-color;
  color: white;
  padding-top: 70px;
  min-height: calc(100vh - 80px - 70px);
}

.exchangeTitleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.exchangeTitle {
  margin: 0;
  font-size: 30px;
}

.exchangeCurrency{
  background-color: $main-blocks-color;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.exchangeFlexWrapper{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}