@import './../../globalVars.module';

.headerWrapper {
  width: 100%;
  background-color: $header-color;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 20px 0;
}
