@import './../../../globalVars.module.scss';

.changeCourseInfo{
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;


  .changeCourseWrapper{
    display: flex;
    background-color: $main-blocks-color;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    .changeCourseBlock{
      box-sizing: border-box;
      font-size: 18px;
      width: 100%;
      min-height: 455px;
    }
  }
}