@import './../../../globalVars.module';

.formBlock {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 580px;
  padding: 50px 100px;
  background-color: $main-blocks-color;
  border-radius: 10px;
  overflow: hidden;

  .errorBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e14949;
    margin-bottom: 10px;
    border-radius: 10px;
    color: $main-font-color;
    padding: 10px;
    width: 100%;

  }

  label {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: $main-color-darker;
    margin-bottom: 2px;
    width: 100%;
  }

  input {
    font-size: 25px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
  }



  form {
    display: flex;
    flex-wrap: wrap;
  }
}

.formTitle {
  color: $main-font-color;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

@media (max-width: 700px) {
  .formBlock{
    padding: 30px 30px;
    margin: 10px;
  }
}

@media (max-width: 450px) {
  .formTitle {
    font-size: 22px;
  }

  .formBlock {
    form {
      width: 100%;
    }

    input {
      padding: 10px;
    }
  }
}