@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Bold"),
  url('./assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Light"),
  url('./assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Light.ttf');
  font-weight: 300;
}

@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Medium"),
  url('./assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Medium.ttf');
  font-weight: 600;
}

@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Regular"),
  url('./assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Regular.ttf');
  font-weight: 400;
}

$global-font: NunitoSans, sans-serif;

:root {
  font-family: $global-font;
  font-weight: 400;
  max-width: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

span, a, button {
  font-family: $global-font;
}