$main-background-color: #210B36;
$main-blocks-color: #392350;
$main-blocks-color-darker: #31174b;

$header-color: $main-blocks-color;

$main-font-color: white;
$main-color-darker: #C6B6D7;

$main-background-color-popup: $main-font-color;
$main-color-text-popup: $main-background-color;

$global-font: NunitoSans, sans-serif;
