@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Bold"),
  url('assets/fonts/nunito-sans/static/nunito-sans-7pt-bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Light"),
  url('assets/fonts/nunito-sans/static/nunito-sans-7pt-light.ttf');
  font-weight: 300;
}

@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Medium"),
  url('assets/fonts/nunito-sans/static/nunito-sans-7pt-medium.ttf');
  font-weight: 600;
}

@font-face{
  font-family: "NunitoSans";
  src:local("NunitoSans-Regular"),
  url('assets/fonts/nunito-sans/static/nunito-sans-7pt-regular.ttf');
  font-weight: 400;
}

$global-font: NunitoSans, sans-serif;

:root {
  font-family: $global-font;
  font-weight: 400;
  max-width: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

span, a, button {
  font-family: $global-font;
}