@import './../../../globalVars.module.scss';

.formBlock {
  form {

  }

  .inputsFlexWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .inputWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 30%;
      position: relative;

      .inputErrorBlock {
        position: absolute;
        bottom: -20px;
        border-radius: 10px;
        font-size: 10px;
        left: 10px;
        max-width: 300px;
        padding: 6px;
        background-color: #fa4f4f;
        color: white;
        z-index: 10;

      }

      label {
        display: block;
        width: 100%;
        font-size: 14px;
        color: $main-color-darker;
      }

      input, select {
        display: block;
        width: 100%;
        padding: 10px 15px;
        border-radius: 10px;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .globalErrorBlock {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      right: 220px;
      font-size: 13px;
      padding: 5px 15px;
      background-color: #e14949;
      border-radius: 10px;
    }
  }
}

@media (max-width: 600px) {
  .formBlock {
    .inputsFlexWrapper {
      flex-wrap: wrap;

      .inputWrapper {
        width: 100%;
        margin-bottom: 10px;

        .inputErrorBlock {
          right: 20px;
          left: auto;
          bottom: -20%;
        }
      }
    }
  }
}